body {
    min-height: 320px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #626262;
}

/* делаем все картинки адаптивными по умолчанию */
img {
    max-width: 100%;
    height: auto;
}

a {
    color: #b4ad9e;
}
a:hover{
    color: #898377;
}

p{
    line-height: 1.5rem;
}
h2,
h3{
    margin: 1rem 0;
    font-size: 30px;
}

header .navbar-light{
    background-color: #fff;
}
header .navbar-brand{
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
}
header .nav-item{
    text-transform: uppercase;
    margin-left: 50px;
}
header .nav-item a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: #ccc;
    height: 1px;
    transform: scale(0);
    transition: all .3s;
}
header .nav-item a:hover::after{
    transform: scale(1);
}

.slider{
    margin-bottom: 50px;
}

.post-category,
.link-more{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
    font-weight: 300;
}
.post-title a{
    color: #626262;
}